body{
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  background: black;
  color:aliceblue;
  font-size: 85%;
  text-align: center;
}

header{
  background-color: black;
  color: white;
  border:0ch; /*What does this do?*/
  margin: 20px;
  padding:20px;
  height: 100px;
}

img{
  border: 1px inset aliceblue;
}

header nav ul{
  display: flex;
  list-style: none;
  justify-content: center;
  padding: 0;

}

header nav ul li{
  margin: 20px;
}

header a:link{
  color: white;
}
header a:visited{
  color: white;
}

a:link {
  color: white;
}

/* visited link */
a:visited {
  color: #00FF00;
}

/* mouse over link */
a:hover {
  color: rgb(231, 33, 231);
}

/* selected link */
a:active {
  color: red;
}

.group{
  display: flex;
  flex-direction: column;
}



.item{
  margin: 5px;
  flex: 1;

}

.contact ul{
  list-style: none;
  padding-left: 0;
}

form{
  border: 1px groove aliceblue;
  border-radius: 5px;
  margin:10px;
  padding:10px;
}

textarea{
  margin:0;
  padding:0;
}


@media all and (min-width: 600px){
body{ 
  background-color: black;
}

header{
  background-color: black;
  color: white;
  border: 1px solid white;
  margin: 0;
  padding: 0;
}

header h1{
  display: flex;
  justify-content: flex-start;
}

header nav{
  display: flex;
  justify-content: flex-end;
  
}

header nav ul{
  display:flex;
  background: black;
  border: 1px solid white;
  margin: 0;
  padding: 0;
  
}

header a:link{
  color: white;
}
header a:visited{
  color: white;
}
}