body{
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  background: aliceblue;
  color:black;
  font-size: 85%;
  text-align: center;
}

header{

  border:0ch; /*What does this do?*/
  margin: 20px;
  padding:20px;
  height: 100px;
}

img{
  border: 1px inset aliceblue;
}

header nav ul{
  display: flex;
  list-style: none;
  justify-content: center;
  padding: 0;

}

header nav ul li{
  margin: 20px;
}

header a:link{
  color: black;
}
header a:visited{
  color: black;
}

a:link {
  color: rgb(207, 21, 21);
}

/* visited link */
a:visited {
  color: purple;
}

/* mouse over link */
a:hover {
  color: green;
}

/* selected link */
a:active {
  color: red;
}

.group{
  display: flex;
  flex-direction: column;
}



.item{
  margin: 5px;
  flex: 1;

}

.contact ul{
  list-style: none;
  padding-left: 0;
}

form{
  border: 1px groove aliceblue;
  border-radius: 5px;
  margin:10px;
  padding:10px;
}

textarea{
  margin:0;
  padding:0;
}


@media all and (min-width: 600px){


header{
  border: 1px solid black;
  margin: 0;
  padding: 0;
}

header h1{
  display: flex;
  justify-content: flex-start;
}

header nav{
  display: flex;
  justify-content: flex-end;
  
}

header nav ul{
  display:flex;
  border: 1px solid black;
  margin: 0;
  padding: 0;
  margin-top: -25px;
  
}

header a:link{
  color: black;
}
header a:visited{
  color: black;
}

}